@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

body{
    font-family: 'Changa',sans-serif;
}
.inline-none{
     
    list-style:none;
    text-align: right;
    
}
.link{
    
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-style: bold;
}

.link-1 {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.nav{
    background-color:#86cdf3;
    color: black;
    padding:1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    

}

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

a:hover{

    font-size: larger;
}

a{
    color: black;
    font-style: bold;
    text-decoration: none;
    font-weight: 800;
}
h3{
    text-align: center;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.ow {
    background-color: hwb(205 92% 4%);
    border-radius: 2rem;
    margin: 25px;
}

.section{
    padding: 2rem;
}

footer{
    list-style:none;
    text-align: center;
    background-color:#86cdf3;
    padding: auto;
    margin: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;

  
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height:350px;
    
    border-radius: 10px;

 }

 #para{
    text-align: left;
 }

 .secondary-link{
    color: #86cdf3;
    border-radius: 00.5rem;
    border: 1px solid #86cdf3;
}

.primary-link{
    background-color: #86cdf3;
    border:2px solid #86cdf3;
    border-radius: 0.5rem;
    text-align: center;
    color: black;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    margin: auto;
}

.w{
    border-radius: 2rem;
    margin: 25px; 
}

.but1{
    class="but1"
}

button{
    class="but1"
    border: 20px solid white;
    box-sizing: content-box;
    height: auto;
    background: #86cdf3;
    border-radius: 10px ;
 }

 div{
    text-align: center;
 }
.b1{
    border: 5px solid #86cdf3;;
    box-sizing: content-box;
    border-radius: 10px ;
    gap: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0px;
    
}
@media  screen and (max-width:600px) {
    .b1{
        width: 100%;
        margin: 0%;
    }
    .inline-none{
        display: flex;
        justify-content: space-evenly;
    }
    
}